.container {
    display: flex;
    width: 90%;
    min-height: 90vh;
    border: 2px solid var(--gray);
    margin: 5rem auto;
    justify-content: space-between;
    align-items: center;
    border-radius: 5rem;
    padding: 3rem;
    background-color: var(--pure-white)
}

.details {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: space-around;
    gap: 2rem;
    height: 100%;
}

.heading {
    margin-bottom: 5rem;
}

.join {
    margin: 5rem 0 2rem 0;
    width: 10rem;
    height: 5rem;
}

.alreadyAccount {
    cursor: pointer;
    text-decoration: underline;
}

.heading {
    color: var(--warning-hover)
}

@media (max-width: 660px) {
    .container {
        flex-direction: column-reverse;
        justify-content: center;
        gap: 5rem;
    }
    .details {
        gap: 0;
    }
}